body{
    font-family: 'Open Sans', sans-serif;
}

.image-thumbnail{
    width:33.33%;
    float: left;
    padding: 5px;
}

.container-full-width{
    width: 100%;
    overflow: auto;
}

.img-circle{
    width: 100%;
}
