$transition-speed: 150ms;
$mobile-break: 768px;

@mixin transition() {
    transition: all $transition-speed ease-in-out;
}

body {
    &.scroll-disabled {
        overflow: hidden;
    }
}

img[data-action=lumos] {
    cursor: zoom-in;
}

div.lumos-container {
    @include transition();
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: translateY(-25%) scale(0);
    opacity: 0;
    cursor: zoom-out;

    &.visible {
        opacity: 1;
        transform: translateY(-0%) scale(1);
    }
}

img.lumos-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;

    @media (min-width: $mobile-break) {
        max-width: 95%;
        max-height: 95%;
    }
}
