$z-index-container: 10;
$z-index-img:11;
$z-index-icons:12;
$z-index-alt-text: 13;

$font-size: 65px;
$font-size-mobile: 48px;
$font-color: rgba(255,255,255,1);

$icon-margin: 15px;
$icon-margin-mobile: 10px;

$mobile-breakpoint: 768px;
$desktop-breakpoint: 992px;

@mixin transitionAll() {
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.lumos-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,1);
    display: none;
    z-index: $z-index-container;
    color: $font-color;
    z-index: $z-index-icons;

    .lumos-alt-text{
        position:fixed;
        text-shadow:0 0 10px rgba(0,0,0,0.5);
        bottom: 0;
        width: 100%;
        left: 0;
        padding:15px;
        text-align:center;
        z-index: $z-index-alt-text;

        @media screen and (min-width:$mobile-breakpoint){
            text-align:left;
            top:0;
            max-width: 50%;
            max-height: 25%;
        }

        @media screen and (min-width: $desktop-breakpoint){
            padding:25px;
        }
    }

    .lumos-img {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        width: auto;
        max-height: 100%;
        max-width: 100%;
        z-index: $z-index-img;
        box-shadow: 5px 5px 50px rgba(0,0,0,0.5);
        cursor: default;
        
        @media screen and (min-width: $mobile-breakpoint){
            border: 2px solid rgba(255,255,255,1);
            max-height: 85%;
            max-width: 85%;
        }
    }

    svg {
        position: fixed;
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: $z-index-icons;
        height: 25px;
        width: 25px;
        cursor: pointer;
        fill: #fff;
        padding:5px;
        @include transitionAll();

        &:hover {            
            @media screen and (min-width: $mobile-breakpoint){
                -moz-transform: translateY(-50%) scale(1.5);
                -ms-transform: translateY(-50%) scale(1.5);
                -o-transform: translateY(-50%) scale(1.5);
                -webkit-transform: translateY(-50%) scale(1.5);
                transform: translateY(-50%) scale(1.5);   
            }
        }

        @media screen and (min-width: $mobile-breakpoint) {
            height: 40px;
            width: 40px;
            background:none;
        }
        
        @media screen and (min-width: $desktop-breakpoint){
            height: 50px;
            width: 50px;
            background:none;
        }
    }

    .lumos-next {
        right: $icon-margin-mobile;
        opacity: 0;

        @media screen and (min-width: $mobile-breakpoint) {
            right: $icon-margin;
            opacity: 1;
        }
    }

    .lumos-prev {
        left: $icon-margin-mobile;
        opacity: 0;

        @media screen and (min-width: $mobile-breakpoint) {
            left: $icon-margin;
            opacity: 1;
        }
    }

    .lumos-close {
        top:25px;
        right:25px;
        height:25px;
        width:25px;
        padding:5px;
        transform: translateY(-50%) translateX(50%);
        
        @media screen and (min-width: $mobile-breakpoint){
            &:hover{
                transform: translateY(-50%) translateX(50%) scale(1.5);
            }
            
            top: 30px;
            right: 30px;
            height: 30px;
            width: 30px;
        }
        
        @media screen and (min-width: $desktop-breakpoint){
            top: 40px;
            right: 40px;
            height: 40px;
            width: 40px;
        }
    }
    
    .lumos-name{
        display: none;
    }
    
    .spinner-container{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        .spinner {
            width: 40px;
            height: 40px;
            background-color: $font-color;

            margin: 100px auto;
            -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
            animation: sk-rotateplane 1.2s infinite ease-in-out;
        }

        @-webkit-keyframes sk-rotateplane {
            0% { -webkit-transform: perspective(120px) }
            50% { -webkit-transform: perspective(120px) rotateY(180deg) }
            100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
        }

        @keyframes sk-rotateplane {
            0% { 
                transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
            } 50% { 
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
            } 100% { 
                transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            }
        }
    }
}
