$grid-padding: 5px;
$mobile-break: 768px;

body {
    margin: 0;
    padding: 0;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    padding: $grid-padding;
    flex-direction: column;
    
    @media (min-width: $mobile-break) {
        flex-direction: row;
    }
}

div.container-item {
    width: 100%;
    padding: $grid-padding;
    box-sizing: border-box;

    @media (min-width: $mobile-break) {
        width: 50%;
    }
}

img.example-img {
    width: 100%;
}