$text-color: #000;
$link-color: #3498db;

body{
    // use system fonts as github.com
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";    
    
    color: $text-color;
    margin: 0;
    padding: 0;
}

a, a:link, a:active, a:visited {
    transition: all 150ms ease-in-out;
    color: $link-color;
    text-decoration: none;
}

a:hover {
    color: lighten($link-color, 15);
}

.container{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 25px;
}

button {
    transition: all 150ms ease-in-out;
    background-color: transparent;    
    font-weight: 700;
    padding: 5px 10px;
    border-color: $text-color;
    background-color: $text-color;
    color: #fff;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: transparent;
        color: $text-color;
    }
}

.gallery {
    .gallery-item {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 15px;

         @media (min-width: 768px) {
            padding: 0;
            margin: 0;
            display: inline-block;
            width: 32%;
         }
    }

    img {
        width: 100%;
    }
}

footer {
    text-align: center;
    margin: 25px 0;   
}