$text-color: #000;
$link-color: #3498db;

body{
    // use system fonts as github.com
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";    
    
    color: $text-color;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

a, a:link, a:active, a:visited {
    transition: all 150ms ease-in-out;
    color: $link-color;
    text-decoration: none;
}

a:hover {
    color: lighten($link-color, 10);
}

.container{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 25px;
}

.gallery {
    margin: 0 0 30px;

    @media (min-width: 768px) {
        margin: 0 -15px 30px;
    }

    .gallery-item {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 15px;

         @media (min-width: 768px) {
             display: inline-block;
             padding: 0 15px;
             margin: 0;
             width: 32%;
         }
    }

    img {
        width: 100%;
    }
}

footer {
    text-align: center;
    margin: 25px 0;   
}